*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../pics/hauptHintergrund.png");
}

.nicht-drucken{
    height: 100px;
    width: 300px;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
}

#drucken{
    background-image: url("../pics/Druckenbutton.png");
    top: 25%;
    left: 450px;   
}

#wiederholen{
    background-image: url("../pics/neustartbutton1.png");
    top: 45%;
    left: 450px;  
}


img, #urkundenText{
    display: none;
}


/* erst wenn gedruckt wird, wird dann das img von der html angezeigt
*/
@media print {
    img{
        display: block;
    }

    #urkundenText{
        position: absolute;
        top: 50%;
        left: 50%;
        /*
        Es verschiebt die x un y Position um 50% des Elements
        */
        transform: translate(-50%, -50%);
        /*Font size noch vergrössern*/
        font-size: 15rem;
        display: block;
    }
}